//Main CSS 
     
//Fonts
$ubuntu: 'Ubuntu', sans-serif;
$titliumWeb: 'Titillium Web', sans-serif;


// Colors 
$vermelhoTotalRental:#821A1D;
$lightBG: #f1f1f1;
$fontDefault: #242424;
$fontBlack: #000000;
$fontLight: #969696;

// Body
body {
    background-color:$vermelhoTotalRental;
    font-family: $ubuntu;
    font-size: 13px;
    color:$fontDefault;
}

.container{
    background-color: $lightBG;
}

.logo{
    height: 93px;
    margin-left:20px;
    margin-top:7px;
    margin-bottom:10px;
}

header nav{
    font-family: $titliumWeb;
    text-transform: uppercase;
}

header nav ul{ margin-left:30px;}
header nav li{margin-left:10px;}

.nav-link{
    font-size: 15px;
    font-weight: bold;
    color: $vermelhoTotalRental !important;
}

.slide{
    margin-bottom:20px !important;
}

.pagina-principal{
    margin-top:20px;
    margin-bottom:50px;
}

    .pagina-principal h1{
        font-family: $titliumWeb;
        font-size: 36px;
        line-height: 54px;
        color: $vermelhoTotalRental;
    }

    .pagina-principal p{
        font-family: $ubuntu;
        font-size: 21px;
        line-height: 28px;
        text-align: justify;
    }

.vantagens{
    margin-top:20px;
}